<!-- CATALOG -->
<section class="catalog">
<div class="container catalog-container">
<h2 class="section-catalog">Catalog</h2>
<ul class="catalog-list">
<li class="catalog-list-item">
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-fenix-7-pro.png,
            ../img/pc/catalog-fenix-7-pro@2x.png
        "
        alt="Garmin Fenix 7X Pro"/>
        
        <p class="section-header-brand">Garmin Fenix 7X Pro Sapphire Solar</p>
            
        <p class="price"><span>€500</span></p>
    </div> 
</li>
<li class="catalog-list-item">
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-marq-athlete.png,
            ../img/pc/catalog-marq-athlete@2x.png
        "
        alt="Garmin Marq Athlete" />
        
        <p class="section-header-brand">Garmin Marq Athlete</p>
            
        <p class="price"><span>€450</span></p>
    </div>
</li>
<li class="catalog-list-item">
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-descent-mk1.png,
            ../img/pc/catalog-descent-mk1@2x.png
        "
        alt="Garmin Descent MK1" />

        <p class="section-header-brand">Garmin Descent MK1 </p>
            
        <p class="price"><span>€680</span></p>
    </div>
</li>
<li class="catalog-list-item">
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-d2-delta-px.png,
            ../img/pc/catalog-d2-delta-px@2x.png
        "
        alt="Garmin D2 Delta PX" /> 
        <p class="section-header-brand">Garmin D2 Delta PX</p>
            
        <p class="price"><span>€380</span></p>
    </div>
</li>
<li class="catalog-list-item hidden-item"> 
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-fenix-6-Pro.png,
            ../img/pc/catalog-fenix-6-Pro@2x.png
        "
        alt="Garmin Fenix 6 Pro Solar" />

        <p class="section-header-brand">Garmin Fenix 6 Pro Solar</p>
            
        <p class="price"><span>€400</span></p>
    </div>
</li>
<li class="catalog-list-item hidden-item">
    <div class="catalog-item-box">
        <img srcset="../img/pc/catalog-tube-watch-s42.png,
            ../img/pc/catalog-tube-watch-s42@2x.png
        "
        alt="Tube Watch S42 Date" />
        <p class="section-header-brand">Tube Watch S42 Date Steel With Black Case</p>
            
        <p class="price"><span>€395</span></p>
    </div>
</li>
</ul>
<button class="btn-show" id="toggle-btn">
    Show more
</button>
</div>
</section>