<!-- CONTACT-US -->
<section class="section" id="contact-us">
    <div class="container">
        <h2 class="contact-us-title">Contact us</h2>
        <div class="contact-us-wrapper">
            <form class="contact-us-form">
                <p class="contact-us-text">
                    Please use the form below to contact us.
                    Enter your name, email, phone, and message 
                    and we'll get back to you shortly.
                </p>
                <label for="user-name"></label>
                <input
                    class="contact-us-input"
                    type="text"
                    id="user-name"
                    name="user-name"
                    placeholder="Name"
                    required
                >
                <label for="user-email"></label>
                <input
                    class="contact-us-input"
                    type="email"
                    id="user-email"
                    name="user-email"
                    placeholder="Email"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                    required
                >
                <label for="user-phone"></label>
                <input
                    class="contact-us-input"    
                    type="tel"
                    id="user-phone"
                    name="user-phone"
                    placeholder="+380"
                    pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                    required
                >
                <textarea class="contact-us-comment" name="user-comment" placeholder="Comment" rows="4"></textarea>
                <button class="contact-us-button" type="submit">Send</button>
            </form>
            <picture>
                <source srcset="/img/pc/contact-us.jpg 1x, /img/pc/contact-us@2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="/img/tab/tab-contact-us.jpg 1x, /img/tab/tab-contact-us@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="/img/mob/mob-contact-us.jpg 1x, /img/mob/mob-contact-us@2x.jpg 2x" media="(max-width: 767px)">
                <img class="contact-us-img" src="/img/mob/mob-contact-us.jpg" alt="Watch on a stone">
            </picture>
        </div>
    </div>
</section>
