<!-- FOOTER -->

<footer id="footer">
    <div class="container footer-wrapper">
            <div class="footer-top">
                <div class="footer-top-one">
                    <a href="./index.html" class="footer-logo">watchcharm</a>
                    <ul class="footer-social-list">
                        <li class="footer-social-icons">
                            <a href="https://www.facebook.com/goITclub/" class="footer-link" target="_blank">
                                <svg class="icon" >
                                    <use href="/img/icons.svg#icon-fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-social-icons">
                            <a href="https://www.instagram.com/goitclub/" class="footer-link" target="_blank">
                                <svg class="icon">
                                    <use href="/img/icons.svg#icon-inst"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-social-icons">
                            <a href="https://www.youtube.com/c/GoIT" class="footer-link" target="_blank">
                                <svg class="icon">
                                    <use href="/img/icons.svg#icon-yt"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>           
                <div class="footer-tel">
                    <a href="tel:+380684439426" class="footer-tel-link">+380 (68) 443-94-26</a>
                </div>
            </div>
            <p class="footer-text">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>  
            <div class="footer-menu-wrapper">
            <ul class="footer-menu-list">
                <li class="footer-menu-item"><a href="./index.html" class="footer-menu-link">Home</a></li>
                <li class="footer-menu-item"><a href="#about-us" class="footer-menu-link">About Us</a></li>
                <li class="footer-menu-item"><a href="#catalog" class="footer-menu-link">Catalog</a></li>
                <li class="footer-menu-item"><a href="#sale" class="footer-menu-link">Sale</a></li>
                <li class="footer-menu-item"><a href="#reviews" class="footer-menu-link">Reviews</a></li>
                <li class="footer-menu-item"><a href="#contact-us" class="footer-menu-link">Contact Us</a></li>
            </ul>       
                <div class="footer-menu-address">1678 S. Pioneer Road Salt Lake City UT 84104</div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-bottom">
                <p class="footer-copy">&copy;2023 The Watch Spot. All rights reserved.</p>
                <div class="footer-text-wrapper">
                    <p class="footer-text-terms">Terms of Service</p>
                    <p class="footer-text-policy">Privacy Policy</p>
                </div>
            </div>
        
    </div>
</footer>
