<!-- FOOTER -->
<footer id="footer" class="footer-main">
  <div class="container pc-padding">
    <div class="footer-wrapper">
      <div class="footer-top">
        <div class="footer-top-one">
          <a href="./index.html" class="footer-logo">watchcharm</a>
          <ul class="footer-social-list">
            <li class="footer-social-icons">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-social-icons-svg">
                  <use href="/img/icons.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-icons">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-social-icons-svg">
                  <use href="/img/icons.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-icons">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-link"
                target="_blank"
              >
                <svg class="footer-social-icons-svg">
                  <use href="/img/icons.svg#icon-yt"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-tel">
          <a href="tel:+380684439426" class="footer-tel-link"
            >+380 (68) 443-94-26</a
          >
        </div>
      </div>
      <p class="footer-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
      <div class="footer-menu-wrapper">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#hero" class="footer-menu-link">Home</a>
          </li>
          <li class="footer-menu-item">
            <a href="#about-us" class="footer-menu-link">About Us</a>
          </li>
          <li class="footer-menu-item">
            <a href="#catalog" class="footer-menu-link">Catalog</a>
          </li>
          <li class="footer-menu-item">
            <a href="#sale" class="footer-menu-link">Sale</a>
          </li>
          <li class="footer-menu-item">
            <a href="#reviews" class="footer-menu-link">Reviews</a>
          </li>
          <li class="footer-menu-item">
            <a href="#contact-us" class="footer-menu-link">Contact Us</a>
          </li>
        </ul>
        <address class="footer-menu-address">
          <a
            href="https://www.google.com/maps/place/1678+S+Pioneer+St,+Salt+Lake+City,+UT+84109,+%D0%A1%D0%A8%D0%90/@40.6998621,-111.8207805,17z/data=!3m1!4b1!4m5!3m4!1s0x875261afff24948f:0x6eeea2af766d70e8!8m2!3d40.6998621!4d-111.8207805?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D"
            class="footer-address-link"
            target="_blank"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </address>
      </div>
      <div class="footer-line"></div>
      <div class="footer-bottom">
        <a href="" class="footer-copy">
          &copy;2023 The Watch Spot. All rights reserved.
        </a>
        <div class="footer-text-wrapper">
          <a href="" class="footer-text-terms">Terms of Service</a>
          <a href="" class="footer-text-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
