<!-- HEADER -->
<!-- Синю крапку під меню додаємо окремим класом .current */ -->
<!-- Використай цю кнопку для планшета та мобільного
            <button class="burger-button" onclick="toggleModal()"></button> -->
<!-- Для всіх посилань встанови  class="menu-link" і в модальному так само -->
<!-- Для діва, що обгортає тег nav, в модальному вікні використай id="modalNav" -->
<!-- Використовуй id для посилань по назві секції (хтмл файла) -->
<!-- Приклад посилання в навігації хедера
          <a href="#about-us" class="menu-link">About Us</a> -->
<!-- Приклад посилання в модальному вікні
          <a href="#about-us" class="menu-link" onclick="toggleModal()">About Us</a>  -->
          <header></header>
