<header id="header">
  <div class="container header-container">
    <a class="logo-header" href="./index.html">watchcharm</a>
    <nav class="nav-header">
      <ul class="nav-list-header">
        <li class="nav-item-header">
          <a class="menu-link" href="#hero">Home</a>
        </li>
        <li class="nav-item-header">
          <a class="menu-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item-header">
          <a class="menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item-header">
          <a class="menu-link" href="#sale">Sale</a>
        </li>
        <li class="nav-item-header">
          <a class="menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item-header">
          <a class="menu-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <ul class="header-social">
        <li class="header-icons">
          <a
            class="header-social-page"
            href="https://www.facebook.com/goITclub/"
          >
            <svg class="header-social-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons">
          <a
            class="header-social-page"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="header-social-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li class="header-icons">
          <a class="header-social-page" href="https://www.youtube.com/c/GoIT">
            <svg class="header-social-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-yt"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button class="burger-menu" aria-label="Open menu">
      <svg width="34" height="34">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<div class="side-menu" id="sideMenu">
  <button class="close-menu" aria-label="Close menu">
    <svg fill="#fff" width="34" height="34">
      <use href="/img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <ul class="nav-list-mob">
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#hero">Home</a>
    </li>
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#about-us">About Us</a>
    </li>
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#catalog">Catalog</a>
    </li>
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#sale">Sale</a>
    </li>
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#reviews">Reviews</a>
    </li>
    <li class="nav-item-mob">
      <a class="menu-link-mob" href="#contact-us">Contact Us</a>
    </li>
  </ul>
  <div>
    <ul class="mob-social">
      <li class="mob-icons">
        <a class="mob-social-page" href="https://www.facebook.com/goITclub/">
          <svg class="mob-social-icons" width="20" height="20">
            <use href="/img/icons.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icons">
        <a class="mob-social-page" href="https://www.instagram.com/goitclub/">
          <svg class="mob-social-icons" width="20" height="20">
            <use href="/img/icons.svg#icon-inst"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icons">
        <a class="mob-social-page" href="https://www.youtube.com/c/GoIT">
          <svg class="mob-social-icons" width="20" height="20">
            <use href="/img/icons.svg#icon-yt"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
