<!-- HERO -->
<section id="hero">
  <div class="container">
    <div class="container-hero">
      <div class="title-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="span-title">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="image-scroll-container">
        <div class="image-container">
          <ul class="image-list">
            <li>
              <img
                srcset="
                  /img/victoria-romashenko.png    1x,
                  /img/victoria-romashenko@2x.png 2x
                "
                src="/img/victoria-romashenko.png"
                width="60"
                class="overlay1"
                alt="victoria romashenko"
              />
            </li>
            <li>
              <img
                srcset="/img/john-wax.png 1x, /img/john-wax@2x.png 2x"
                src="/img/john-wax.png"
                width="60"
                class="overlay2"
                alt="john wax"
              />
            </li>
            <li>
              <img
                srcset="
                  /img/anastasia-trachuk.png    1x,
                  /img/anastasia-trachuk@2x.png 2x
                "
                src="/img/anastasia-trachuk.png"
                width="60"
                class="overlay3"
                alt="anastasia trachuk"
              />
            </li>
          </ul>
        </div>
        <a href="#footer" class="scroll-down current">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="/img/mob/mob-hero.avif 1x, /img/mob/mob-hero@2x.avif 2x"
        type="image/avif"
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/tab/tab-hero.avif 1x, /img/tab/tab-hero@2x.avif 2x"
        type="image/avif"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/pc/hero.avif 1x, /img/pc/hero@2x.avif 2x"
        type="image/avif"
        media="(min-width: 1280px)"
      />

      <source
        srcset="/img/mob/mob-hero.jpg 1x, /img/mob/mob-hero@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/tab/tab-hero.jpg 1x, /img/tab/tab-hero@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/pc/hero.jpg 1x, /img/pc/hero@2x.jpg 2x"
        media="(min-width: 1280px)"
      />

      <!-- Основне зображення за замовчуванням -->
      <img class="portfolio-list-img" src="img/pc/hero.jpg" alt="Clock" />
    </picture>
  </div>
</section>
