<section id="sale" class="sale">
    <div class="container">
        <h2 class="sale-title">Sale</h2>

        <div class="sale-product-details-container">
            <div class="sale-image-container">

                <ul class="sale-image-row-list">
                    <li class="sale-image-row-item">
                        <picture>
                            <source srcset="/img/tab/tab-sale-mini-1.png 1x, /img/tab/tab-sale-mini-1@2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/mob/mob-sale-mini-1.png 1x, /img/mob/mob-sale-mini-1@2x.png 2x"
                                media="(max-width: 767px)">
                            <img src="/img/mob/mob-sale-mini-1.png"
                                alt="Watch menu with functional options for navigation and settings" width="52"
                                height="54">
                        </picture>
                    </li>

                    <li class="sale-image-row-item">
                        <picture>
                            <source srcset="/img/tab/tab-sale-mini-2.png 1x, /img/tab/tab-sale-mini-2@2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/mob/mob-sale-mini-2.png 1x, /img/mob/mob-sale-mini-2@2x.png 2x"
                                media="(max-width: 767px)">
                            <img src="/img/mob/mob-sale-mini-2.png"
                                alt="Home screen with information about the current time, date and display of important activity indicators"
                                width="52" height="54">
                        </picture>
                    </li>

                    <li class="sale-image-row-item">
                        <picture>
                            <source srcset="/img/tab/tab-sale-mini-3.png 1x, /img/tab/tab-sale-mini-3@2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/mob/mob-sale-mini-3.png 1x, /img/mob/mob-sale-mini-3@2x.png 2x"
                                media="(max-width: 767px)">
                            <img src="/img/mob/mob-sale-mini-3.png"
                                alt="Side profile of the watch with visible control buttons and stylish strap"
                                width="52" height="54">
                        </picture>
                    </li>

                    <li class="sale-image-row-item">
                        <picture>
                            <source srcset="/img/tab/tab-sale-mini-4.png 1x, /img/tab/tab-sale-mini-4@2x.png 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/mob/mob-sale-mini-4.png 1x, /img/mob/mob-sale-mini-4@2x.png 2x"
                                media="(max-width: 767px)">
                            <img src="/img/mob/mob-sale-mini-4.png"
                                alt="Inside, you can see a heart rate monitor and a classic strap attachment with a tongue and adjustment holes"
                                width="52" height="54">
                        </picture>
                    </li>
                </ul>

                <div class="sale-image-large-container">
                    <picture>
                        <source srcset="/img/tab/tab-sale-big.png 1x, /img/tab/tab-sale-big@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="/img/mob/mob-sale-big.png 1x, /img/mob/mob-sale-big@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="/img/mob/mob-sale-big.png"
                            alt="Dial with a clear AMOLED display that shows the time in a stylish and functional design"
                            width="235" height="285">
                    </picture>
                </div>
            </div>

            <div class="sale-info-container">
                <h3 class="sale-info-title">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
                <p class="sale-product-tag-text">Product tag: 706587</p>

                <div class="sale-price">
                    <p class="sale-current-price-text">&euro;1500</p>
                    <p class="sale-old-price-text">&euro;3000</p>
                </div>

                <p class="sale-description-text">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes
                    materials and
                    features to the next level. The body of the watch is made of very durable Fused Carbon Fiber
                    material and has a
                    precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used
                    in any
                    conditions.
                </p>

                <ul class="sale-features-list">
                    <li class="sale-features-item">
                        <p class="sale-features-text">Fused carbon fiber</p>
                    </li>

                    <li class="sale-features-item">
                        <p class="sale-features-text">Grade-5 Titanium</p>
                    </li>

                    <li class="sale-features-item">
                        <p class="sale-features-text">Athlete</p>
                    </li>

                    <li class="sale-features-item">
                        <p class="sale-features-text">Golfer</p>
                    </li>

                    <li class="sale-features-item">
                        <p class="sale-features-text">Commander</p>
                    </li>

                    <li class="sale-features-item">
                        <p class="sale-features-text">Adventurer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>