/* ADVERTISEMENT */


.advertisement-container {
    background-color: #0C0C0C;
    background-image: url(../img/mob/mob-advertisement.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 28px;
    border-radius: 30px;
    overflow: hidden;
}

.advertisement-text,
.advertisement-span {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-bottom: 28px;
    max-width: 279px;
}

.advertisement-span {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;

    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;
}

.advertisement-a {
    color: #fbfbfb;
}

@media only screen and (min-resolution: 192dpi) {
    .advertisement-container {
        background-image: url(../img/mob/mob-advertisement@2x.png);
    }
}

@media only screen and (min-width: 768px) {
    .advertisement-container {
        background-image: url(../img/tab/tab-advertisement.png);
        padding: 80px 64px;
    }

    @media only screen and (min-resolution: 192dpi) {
        .advertisement-container {
            background-image: url(../img/tab/tab-advertisement@2x.png);
        }
    }

    .advertisement-text,
    .advertisement-span {
        font-size: 48px;
        max-width: 576px;
    }
}

@media only screen and (min-width: 1280px) {
    .advertisement-container {
        background-image: url(../img/pc/advertisement.png);
        padding: 80px;
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (min-resolution: 192dpi) {
        .advertisement-container {
            background-image: url(../img/pc/advertisement@2x.png);
        }
    }
}