body {
  background-color: #fbfbfb;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 30px 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  section {
    padding: 50px 0;
  }
}
