/* CATALOG */

.catalog-list-item {
  width: 100%;
}
.catalog-list {
  gap: 20px;
}
.catalog-list-item.hidden {
  display: none;
}
.btn-show {
  display: block;
}

.container .catalog-container {
  margin: 0;
}

.catalog {
  box-sizing: border-box;
}

.section-catalog {
  margin-bottom: 40px;
}

.catalog-list {
  gap: 32px 23px;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  padding: 28px 24px;
  box-sizing: border-box;
}

.catalog-item-box p {
  align-self: flex-start;
  width: 304px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section-header-brand {
  color: #0c0c0c;
  margin-top: 10px;
  margin-bottom: 8px;
}

.price span {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.btn-show {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: 0;
  justify-self: center;
}

@media only screen and (min-width: 768px) {
  .catalog-list {
    gap: 32px 16px;
  }
  .catalog-list-item {
    width: calc((100% - 23px) / 2);
  }
  .catalog-list-item.hidden {
    display: block;
  }
  .btn-show {
    display: none;
  }
  .catalog-item-box p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .catalog-list-item {
    width: calc((100% - 46px) / 3);
  }
  .catalog-list {
    gap: 32px 23px;
  }
}
