/* HEADER */
/* Скажи хедеру display: fixed */

/* Приклад підкреслення активного посилання, заміни значеня на дані з макету */
.menu-link {
  position: relative;
}

.menu-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8px; /* Розмір крапки */
  height: 8px;
  background-color: blue; /* Колір крапки */
  border-radius: 50%; /* Щоб зробити крапку круглою */
}
