/* REVIEWS */

.reviews-title {
    margin-bottom: 24px;
}

.reviews-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-foto {
    margin-bottom: 24px;
}

.list {
    border-radius: 30px;
    padding: 32px 36px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-name {
    letter-spacing: -0.02em;
    text-align: center;
    color: #0C0C0C;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.reviews-text {
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 768px) {

    .tablet {
            width: calc(100% - 16px) / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .reviews-list-wrapper {
            flex-direction: row;
            gap: 16px;   
        }

    .list {
           width: calc(100% - 16px) / 2;
        }
}

@media only screen and (min-width: 1280px) {
    .desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: calc(100% - 20px * 2)  / 3;
    }
}